<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ page.title | default: site.title | default: "some" }}</title>
	<link rel="icon" type="image/x-icon" href="{{ 'data:image/png;base64,' | append: site.favicon }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet prefetch" href="/vue-material.min.css" />
	<link rel="stylesheet prefetch" href="/vue-material-font.css" />
	<link rel="stylesheet prefetch" href="/vue-material-icon.css" />
	<style type="text/css">
		.main-content{padding:16px;}
		.md-bottom-bar{position:absolute; bottom:0px;}
	</style>
</head>
